.card-outer{
    width:76%;
    height:285px;
    margin:auto;
    margin-bottom:35px;
    display:block;
    padding:15px;
    position: relative;
    -webkit-box-shadow: 1px 0px 5px 2px #E5E5E5;
    box-shadow: 1px 0px 5px 2px #E5E5E5;
}
.card-outer img{
    max-width: 51%;
    margin:auto;
    display:block
}

.card-title{
    margin-top:25px;
    font-weight: bold;
    font-size: 1em;
    margin-bottom:10px
}

.card-desc{
    font-size: .9em;
    line-height:1.5em;
    margin-bottom: 20px;
}

.category-form{
    margin:auto;
    margin-bottom:30px;
    max-width:1055px;
}

#sel-category{
    width:276px;
}

.filter-txt{
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
    margin-bottom: 20px;
}

.topNav {
    width:1170px;
    margin:auto ;
}

.topNav .logo{
    max-width: 170px;
}
.team-colab img{
    max-width:115px
}

.team-colab{
    margin:auto;
    margin-top:30px;
    max-width:760px;
}

.collab-txt{
    width:600px;
}

.collab-txt p{
    line-height: 1.5em;
    font-size: 1.2em;
}

.collab-txt h1{
    margin-top:0
}

.blue-line{
    width:120px;
    margin:auto;
    border: 2px solid #004ac9;
}

.test-loading{
    text-align: center;
    width:100%;
    display: block;
    font-size: 1.4em;
}